In [2]:
import pandas as pd
# pandas does html?!
all_tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
constitutents = all_tables[0] # it will download all tables on the page to a "list of dataframes"
constitutents # no urls :( just the raw text! 

# requests / requests_html seem like a good combo

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,NaN
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,NaN
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,NaN
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280,NaN

In [ ]:
constitutents = all_tables[0] # it will download all tables on the page to a "list of dataframes"
constitutents # no urls :( just the raw text! 

# requests / requests_html seem like a good combo

In [ ]:
import requests 
base_url = 'http://chroniclingamerica.loc.gov/search/pages/results/'
parameters = '?andtext=lynching&format=json'

url = base_url + parameters 
print(url)
r = requests.get(base_url + parameters)

In [ ]:
r.status_code # 200 menass you get a good result

In [ ]:
r 
r.json()
search_json = r.json() 
search_json.keys() # get a list of the keys ("elements"?)
search_json['totalItems'] # access element like in pandas

In [ ]:
type(search_json['items']) # items is a list of items
len(search_json['items']) # 20 items / 20 articles 
search_json['items'][0].keys() # works on each item
search_json['items'][0]['title']

In [ ]:
# pandas can IMPORT JSON INTO A DF
pd.DataFrame(search_json['items'])

# CLASS ACTIVITY - RUN YOUR OWN SEARCH 
# pick a crime and search for it, store the output in a dataframe

In [ ]:
import requests 
base_url = 'http://chroniclingamerica.loc.gov/search/pages/results/'
parameters = '?andtext=grandlarceny&format=json'

url = base_url + parameters 
print(url)
r2 = requests.get(base_url + parameters)

In [ ]:
r2.status_code # 200 means you get a good result

In [ ]:
r2 
r2.json()
search_json = r2.json() 
search_json.keys() # get a list of the keys ("elements"?)
search_json['totalItems'] # access element like in pandas

In [ ]:
type(search_json['items']) # items is a list of items
len(search_json['items']) # 20 items / 20 articles 
search_json['items'][0].keys() # works on each item
search_json['items'][0]['title']

In [ ]:
# pandas can IMPORT JSON INTO A DF
pd.DataFrame(search_json['items'])

# Exchange Rate Database Exercise

In [ ]:
# q2 - change base currency, and do jan 2, 2018 
# url = 'https://api.exchangeratesapi.io/history?base=EUR''
base_url = 'https://api.exchangeratesapi.io/history?start_at=2018-01-02&end_at=2018-01-02'
x = requests.get(base_url)
x
print(base_url)

In [ ]:
base_url = 'https://api.exchangeratesapi.io/history?start_at=2018-01-02&end_at=2019-12-31'
x = requests.get(base_url)
df = pd.DataFrame(x.json())
df['EUROJPY'] = df['rates'].apply(lambda x: x.get('JPY'))
df

In [ ]:
x
x.json()['rates']['2018-01-02']['JPY'] # we just pull the Yen on that date

In [ ]:
pd.DataFrame(x.json())

In [ ]:
rates_overview['rates'].mean